In [2]:
a = [1,2, 3, -7, 4, 6]
import numpy as np
np.argmin(a)

3

In [7]:
import pandas as pd
nL = 2
nN = 4
loss_avg = 1.3
loss_std = 0.1
acc_avg = 0.9
acc_std = 0.07

df1 = pd.DataFrame(
        {
            "nL": [nL],
            "nN": [nN],
            "Loss average": [loss_avg],
            "Loss std": [loss_std],
            "Acc average": [acc_avg],
            "Acc std": [acc_std],
        }
    )

df1

print(df1.to_latex(index=False,
                  formatters={"name": str.upper},
                  float_format="{:.1f}".format,
))

\begin{tabular}{rrrrrr}
\toprule
nL & nN & Loss average & Loss std & Acc average & Acc std \\
\midrule
2 & 4 & 1.3 & 0.1 & 0.9 & 0.1 \\
\bottomrule
\end{tabular}

In [5]:
import pandas as pd
import itertools
a= [[1], [2], [3]]
a = list(itertools.chain(*a))
b = [3, 4, 5]

df1 = pd.DataFrame(
        {
            "a": a,
            "b": b,
        }
    )

df1

   a  b
0  1  3
1  2  4
2  3  5

In [1]:
import numpy as np
a = np.zeros((3, 7))
print(a.shape[0])

a = [1, 2, 33]
a.append(None)
print(a)

a.count(None)

3
[1, 2, 33, None]

1

In [14]:
import numpy as np
a = np.array([[1, 2], [3, 4], [5, 6]])
a

def expand_array(arr, new_shape):
    expanded_arr = np.zeros(new_shape, dtype=arr.dtype)
    expanded_arr[:arr.shape[0], :arr.shape[1]] = arr
    return expanded_arr

a = expand_array(a, (5,2))
a

array([[1, 2],
       [3, 4],
       [5, 6],
       [0, 0],
       [0, 0]])